* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow: hidden;
  font-family: "Noto Sans JP", sans-serif;
}

.webgl {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.title {
  color: white;
  z-index: 2;
  position: absolute;
  font-size: 1.5rem;
  left: 50%;
  top: 85%;
  transform: translate(-50%, -85%);
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

